<% extend 'layout/html' %>

<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="/"><%=@__("Home")%></a></li>
			<li><%=@__("Profile")%></li>
			<li><%=@req.account.username%></li>
		</ol>
	</div>
</div>

<% include 'partial/profile_gen_stats' %>

<div class="row">
	<% include 'partial/profile_sidebar' %>

	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">
					<%=@__("Profile")%>
				</h1>
			</div>
			<div class="panel-body">
			</div>
		</div>
	</div>
</div>