<% extend 'layout/html' %>

<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="/"><%=@__("Home")%></a></li>
			<li><%=@__("Login")%></li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-5 col-md-6 col-sm-8 col-lg-offset-1 col-sm-offset-2 col-md-offset-0">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">
					<%=@__("Login")%>
				</h1>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" action="/<%=@prefix%>login" method="post">
					<div class="form-group">
						<label for="username" class="col-sm-2 control-label">
							<%=@__("Username")%>
						</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="username" name="username" placeholder="<%=@__("Username")%>">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">
							<%=@__("Password")%>
						</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="password" name="password" placeholder="<%=@__("Password")%>">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary btn-block">
								<%=@__("Login")%>
							</button>
						</div>
					</div>
				</form>
			</div>
			<% if @info : %>
				<div class="panel-footer"><%= @info %></div>
			<% end %>
		</div>
	</div>
	<div class="col-lg-5 col-md-6 col-sm-8 col-sm-offset-2 col-md-offset-0">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<%=@__("Register")%>
				</h2>
			</div>
			<div class="panel-body">
				<p>
					<%=@__("To use all functions of ")+@name+@__(", you need an account.")%>
				</p>
				<a class="btn btn-lg btn-primary btn-block" href="/<%=@prefix%>register">
					<%=@__("Register account")%>
				</a>
			</div>
		</div>
	</div>
</div>