<% extend 'layout/html' %>

<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%=@__("Home")%></li>
		</ol>
	</div>
</div>
<div class="row" id="videoMatrix">
	<% for media in @mediaContent : %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail-container">
				<a href="ec-video/<%= media.mediaFile %>">
					<img class="img-responsive" src="media/<%= media.mediaFile %>/img001.jpg" alt="placeholder"/>
					<div class="videoTitle">
						<h4><%= media.name %></h4>
					</div>
				</a>
			</div>
		</div>
	<% end %>
</div>