<% extend 'layout/html' %>

<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="/"><%=@__("Home")%></a></li>
			<li><%=@__("Video")%></li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="container">
		<div class="row">
			<h3><%= @mediaContent.name %></h3>
			<video id="video_1" class="video-js vjs-default-skin embed-responsive embed-responsive-16by9"
			  controls preload="auto" width="100%"
			  poster="../media/<%= @mediaContent.mediaFile %>/img001.jpg"
			  data-setup='{"example_option":true}'>
				 <source src="../media/<%= @mediaContent.mediaFile %>/Video.mp4" type='video/mp4' />
				 <source src="../media/<%= @mediaContent.mediaFile %>/Video.webm" type='video/webm' />
				 <track kind="subtitles" src="../media/<%= @mediaContent.mediaFile %>/Subtitles.srt" label="SRT" srclang="en" default></track>
				 <track kind="subtitles" src="../media/<%= @mediaContent.mediaFile %>/Subtitles.vtt" label="VTT" srclang="en" default></track>
				 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
			</video>
		</div>
		<div class="row">
			<h3>Descripción</h3>
			<span><%= @mediaContent.description %></span>
		</div>
	</div>
</div>