<% extend 'layout/html' %>

<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%=@message%></li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h1 class="panel-title">
					<%=@message%> - <%=@status%>
				</h1>
			</div>
			<% if @error.stack? : %>
				<div class="panel-body">
					<p>
						<%=@error.stack%>
					</p>
				</div>
			<% end %>
			<div class="panel-footer">
				<a href="#" onClick="history.go(-1)"><%=@__("< Go back")%></a>
			</div>
		</div>
	</div>
</div>
