<% extend 'layout/html' %>

<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="/"><%=@__("Home")%></a></li>
			<li><%=@__("Admin")%></li>
		</ol>
	</div>
</div>

<% include 'partial/admin_gen_stats' %>