<% extend 'layout/html' %>

<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="/"><%=@__("Home")%></a></li>
			<li><%=@__("Upload")%></li>
		</ol>
	</div>
</div>
<div class="row">
	<script>
		function _(el){
			return document.getElementById(el);
		}
		
		function uploadFile(){
			if (_("inputFile").files[0])
			{
				var file1 = _("inputFile").files[0];
				var formdata = new FormData();
				if (_("videoTitle").value )
					formdata.append("videoTitle", _("videoTitle").value );
				if (_("descriptionArea").value )
					formdata.append("descriptionArea", _("descriptionArea").value );
				formdata.append("inputFile", file1);
				if (_("inputSub").files[0]){
					var file2 = _("inputSub").files[0];
					formdata.append("inputSub", file2);
				}
				var ajax = new XMLHttpRequest();
				ajax.upload.addEventListener("progress", progressHandler, false);
				ajax.addEventListener("load", completeHandler, false);
				ajax.open("POST", "/ec-upload");
				ajax.send(formdata);
			}
			else
			{
				_("warningInfo").innerHTML = "You must select at least one video"
			}
		}
		
		function progressHandler(event){
			var percent = (event.loaded / event.total) * 100;
			_("progressBar").style.width = Math.round(percent)+"%";
			_("progressBarCaption").innerHTML = Math.round(percent)+"% Complete";
		}
		
		function completeHandler(event){
			_("progressBar").style.width = "0%";
			_("progressBarCaption").style.width = "0% Complete";
		}																	
	</script>
	<div class="col-lg-6 col-sm-8 col-lg-offset-3 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">
					<%=@__("Upload")%>
				</h1>
			</div>
			<div class="panel-body">
				<form class="panel-horizontal" action="/ec-upload" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<label for="videoTitle">Video Title</label>
						<input id="videoTitle" name="videoTitle" type="text" class="form-control" placeholder="Video Title">
					</div>
					<div class="form-group">
						<label for="descriptionArea">Description:</label>
						<textarea id="descriptionArea" name="descriptionArea" class="form-control" rows="3"></textarea>
					</div>
					<div class="form-group">
						<label for="inputFile">Video</label>
						<input id="inputFile" name="inputFile" type="file" accept=".mkv, video/*" class="file" multiple="false" data-show-upload="false" data-show-caption="true" data-show-preview="false">
					</div>
					<div class="form-group">
						<label for="inputSub">Subtitles</label>
						<input id="inputSub" name="inputSub" type="file" accept=".srt, .vtt" class="file" multiple="false" data-show-upload="false" data-show-caption="true" data-show-preview="false">
					</div>
					<div class="form-group">
						<div class="progress">
							<div id="progressBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
								<span id="progressBarCaption" class="sr-only">0% Complete</span>
							</div>
						</div>
					</div>
					<input id="buttonUpload" name="inputFile" type="button" class="btn btn-primary" value="Upload" onclick="uploadFile()"/>
					<span id="warningInfo" class="text-warning"></span>
				</form>
			</div>
		</div>
	</div>
</div>