<% extend 'layout/html' %>

<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="/"><%=@__("Home")%></a></li>
			<li><%=@__("Register")%></li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-sm-8 col-lg-offset-3 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">
					<%=@__("Register")%>
				</h1>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" action="/<%=@prefix%>register" method="post">
					<div class="form-group">
						<label for="username" class="col-sm-2 control-label">
							<%=@__("Username")%>
						</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="username" placeholder="<%=@__("Username")%>">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">
							<%=@__("Password")%>
						</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" name="password" placeholder="<%=@__("Password")%>">
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">
							<%=@__("Email")%>
						</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="email" placeholder="<%=@__("Email")%>">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary btn-block">
								<%=@__("Register")%>
							</button>
						</div>
					</div>
				</form>
			</div>
			<% if @info : %>
				<div class="panel-footer"><%= @info %></div>
			<% end %>
		</div>
	</div>
</div>