<% extend 'layout/html' %>

<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="/"><%=@__("Home")%></a></li>
			<li><a href="/<%=@prefix%>admin"><%=@__("Admin")%></a></li>
			<li><%=@__("Users")%></li>
		</ol>
	</div>
</div>

<% include 'partial/admin_gen_stats' %>

<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">
					<%=@__("Options")%>
				</h2>
			</div>
			<ul class="list-group">
				<a href="/<%=@prefix%>admin/users/" class="list-group-item">
					<%=@__("Algo(WIP)")%>
				</a>
			</ul>
		</div>
	</div>
</div>