@font-family-sans-serif: 'Exo', Helvetica, Arial, sans-serif;
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: local('Exo Regular'), local('Exo-Regular'), url("/fonts/kA_pX0U45Eb7PbHijV1x2w.woff2") format('woff2'), url("/fonts/wocyXRLWPo2Av-yUTmmbTA.woff") format('woff');
}


body{
	padding-top: 70px !important;
	padding-bottom: 70px !important;
	background: #2d2d2d url("/images/background.jpg") fixed center repeat;
	font-family: @font-family-sans-serif;
}
/* css for index.html*/

.thumbnail-container {
    position: relative;
}

#mainContainerIndex [class*="col-"] {
    text-align: center;
    padding-bottom: 5px;
}

.videoTitle {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: Black;
    color: White;
    opacity: 0.75;
}

.videoTitle>h4 {
    padding: 10px;
}