<div class="row">
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				<p class="panel-title">
					<span class="glyphicon glyphicon-user"></span>
					<%=@__("Users")%>
					<% if @req.countUsers? : %>
						<span class="badge pull-right">
							<%=@req.countUsers%>
						</span>
					<% end %>
				</p>
			</div>
			<div class="panel-footer">
				<span class="glyphicon glyphicon-cog"></span>
				<a href="/<%=@prefix%>admin/users">
					<%=@__("Manage >")%>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<p class="panel-title">
					<span class="glyphicon glyphicon-user"></span>
					<%=@__("Groups")%>
					<% if @req.countGroups? : %>
						<span class="badge pull-right">
							<%=@req.countGroups%>
						</span>
					<% end %>
				</p>
			</div>
			<div class="panel-footer">
				<span class="glyphicon glyphicon-cog"></span>
				<a href="/<%=@prefix%>admin/groups">
					<%=@__("Manage >")%>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<p class="panel-title">
					<span class="glyphicon glyphicon-tags"></span>
					<%=@__("Categories")%>
					<% if @req.countCategories? : %>
						<span class="badge pull-right">
							<%=@req.countCategories%>
						</span>
					<% end %>
				</p>
			</div>
			<div class="panel-footer">
				<span class="glyphicon glyphicon-cog"></span>
				<a href="/<%=@prefix%>admin/categories">
					<%=@__("Manage >")%>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<p class="panel-title">
					<span class="glyphicon glyphicon-film"></span>
					<%=@__("Media")%>
					<% if @req.countMedia? : %>
						<span class="badge pull-right">
							<%=@req.countMedia%>
						</span>
					<% end %>
				</p>
			</div>
			<div class="panel-footer">
				<span class="glyphicon glyphicon-cog"></span>
				<a href="/<%=@prefix%>admin/media">
					<%=@__("Manage >")%>
				</a>
			</div>
		</div>
	</div>
</div>