<div class="row">
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				<p class="panel-title">
					<span class="glyphicon glyphicon-user"></span>
					<%=@__("User")%>
					<span class="badge pull-right">
						<%=@req.account.username%>
					</span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<p class="panel-title">
					<span class="glyphicon glyphicon-user"></span>
					<%=@__("Group")%>
					<span class="badge pull-right">
						<%=if @req.account.group? then @req.account.group.name else @__("None")%>
					</span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<p class="panel-title">
					<span class="glyphicon glyphicon-film"></span>
					<%=@__("Media")%>
					<span class="badge pull-right">
						<%=@req.account.mediaFiles.length%>
					</span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<p class="panel-title">
					<span class="glyphicon glyphicon-eye-open"></span>
					<%=@__("Total views")%>
					<span class="badge pull-right">
						<%=@req.countViews%>
					</span>
				</p>
			</div>
		</div>
	</div>
</div>