<div class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">
				<%=@__("Options")%>
			</h2>
		</div>
		<div class="list-group">
			<a href="/<%=@prefix%>profile/<%=@req.account.username%>/media" class="list-group-item <%="active" if @req.originalUrl is "/"+@prefix+"profile/"+@req.account.username+"/media" %>">
				<%=@__("My media")%>
			</a>
			<a href="/<%=@prefix%>profile/<%=@req.account.username%>/edit" class="list-group-item <%="active" if @req.originalUrl is "/"+@prefix+"profile/"+@req.account.username+"/edit" %>">
				<%=@__("Edit profile")%>
			</a>
			<a href="/<%=@prefix%>profile/<%=@req.account.username%>/delete" class="list-group-item <%="active" if @req.originalUrl is "/"+@prefix+"profile/"+@req.account.username+"/delete" %>">
				<%=@__("Delete profile")%>
			</a>
		</div>
	</div>
</div>