<!DOCTYPE html>
<html lang="<%=@getLocale()%>">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><%=@title%><%=@separator unless @title is undefined%><%=@name%></title>
		<link href="/stylesheets/bootstrap.css" rel="stylesheet">
		<link href="/stylesheets/fileinput.min.css" rel="stylesheet">
		<link href="/stylesheets/expresscdn.css" rel="stylesheet">
		<link href="//vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
		<script src="//vjs.zencdn.net/4.11/video.js"></script>
	</head>
	<body>
		<header class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse">
						<span class="sr-only">Toggle navigation</span>
						<% for num in [1..3]: %>
						  <span class="icon-bar"></span>
						<% end %>
					</button>
					<a class="navbar-brand" href="/"><%=@name%></a>
				</div>
				<div class="navbar-collapse collapse" id="navbarCollapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								<%=@__("Language")%>
								<span class="glyphicon glyphicon-collapse-down"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<% for lang in @catalog : %>
									<li>
										<a href="/<%=@prefix%>setlang/<%=lang%>">
											<%=@__(lang)%>
										</a>
									</li>
								<% end %>
							</ul>
						</li>
						<% if @req.user? : %>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
									<%=@req.user.username%>
									<span class="glyphicon glyphicon-collapse-down"></span>
								</a>
								<ul class="dropdown-menu" role="menu">
									<% if @req.user.isAdmin or @req.user.isMod : %>
										<li>
											<a href="/<%=@prefix%>admin">
												<span class="glyphicon glyphicon-cog"></span>
												<%=@__("Administration")%>
											</a>
										</li>
										<li class="divider" role="presentation"></li>
									<% end %>
									<li>
										<a href="/<%=@prefix%>upload">
											<span class="glyphicon glyphicon-cloud-upload"></span>
											<%=@__("Upload")%>
										</a>
									</li>
									<li>
										<a href="/<%=@prefix%>logout">
											<span class="glyphicon glyphicon-log-out"></span>
											<%=@__("Log out")%>
										</a>
									</li>
								</ul>
							</li>
						<% else : %>
							<li>
								<a href="/<%=@prefix%>login">
									<span class="glyphicon glyphicon-log-in"></span>
									<%=@__("Log in")%>
								</a>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</header>
		<div class="container-fluid">
			<% content %>
		</div>
		<footer class="navbar navbar-default navbar-fixed-bottom">
			<div class="container-fluid">
				<p class="navbar-text">
					&copy; <%=new Date().getFullYear()%> - <%=@name%>
				</p>
			</div>
		</footer>
		<script src="/javascripts/prod/jquery-2.1.1.min.js"></script>
		<script src="/javascripts/fileinput.min.js"></script>
		<script src="/javascripts/dev/collapse.js"></script>
		<script src="/javascripts/dev/dropdown.js"></script>
	</body>
</html>